<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style ="background-color:black">
<div class="container">
    <h1 style="color:white" class="mt-0 mb-1" th:text="${book.author}">Pielewin Wiktor</h1>
    <h2 style="color:white" th:text="|Tytuł: ${book.title}|">Empire V</h2>
    <h3 style="color:white" th:text="|Gatunek: ${book.genre}|">Obyczaj</h3>
    <div th:switch="${book.cover}">
        <img class="mr-3" src="../static/img/Pielewin.jpg"
             th:src="@{/img/Pielewin.jpg}"
             th:case="Pielewin">
        <img class="mr-3" src="../static/img/McCarty.jpg"
             th:src="@{/img/McCarthy.jpg}"
             th:case="McCarthy">
        <img class="mr-3" src="../static/img/Jordan.jpg"
             th:src="@{/img/Jordan.jpg}"
             th:case="Jordan">
        <img class="mr-3" src="../static/img/King.jpg"
             th:src="@{/img/King.jpg}"
             th:case="King">
        <img class="mr-3" src="../static/img/Ketchum.jpg"
             th:src="@{/img/Ketchum.jpg}"
             th:case="Ketchum">
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>